<div class="container">
  <h1 class="mb-4">Edit <%= resource_name.to_s.humanize %></h1>

    <div class="row">
      <ul class="nav nav-tabs tab-row">
        <li class="nav-item">
          <%= link_to "Library (#{current_user.records.count})", user_path(current_user), class: 'nav-link tab' %>
        </li>
        <li class="nav-item">
          <%= link_to "Alerts (#{current_user.messages.where(read: false).count})", messages_path(current_user), class: 'nav-link tab' %>
        </li>
        <li class="nav-item">
          <%= link_to "Bookings", bookings_path, class: 'nav-link tab' %>
        </li>
        <li class="nav-item">
          <a class="nav-link active tab" aria-current="page" href="#">Edit Profile</a>
        </li>
        </ul>
    </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name, required: true, autofocus: true %>
      <%= f.input :last_name, required: true, autofocus: true %>
      <%= f.input :address_line_one, required: true, autofocus: true %>
      <%= f.input :address_line_two, autofocus: true %>
      <%= f.input :city, required: true, autofocus: true %>
      <%= f.input :postcode, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="row form-actions justify-content-around my-5">
      <%= f.button :submit, "Update", class: 'btn btn-edit col-4' %>
      <%= link_to "Delete my account", registration_path(resource_name), class: 'btn btn-destroy col-4', data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  <% end %>



</div>
