<div class="container">
  <h1 class="mb-4">Your Bookings</h1>
  <div class="row">
    <ul class="nav nav-tabs tab-row">
    <li class="nav-item">
      <%= link_to "Library (#{@records.count})", user_path(current_user), class: 'nav-link tab' %>
    </li>
    <li class="nav-item">
      <a class="nav-link active tab" aria-current="page" href="#">Bookings</a>
    </li>
    <li class="nav-item">
      <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: 'nav-link tab' %>
    </li>
  </ul>
  </div>

  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills red me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Borrowing Current</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Borrowing History</button>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lending Current</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Lending History</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="cards">
          <% @bookings_borrowing_current.each do |booking| %>
            <%= link_to booking_path(booking) do %>
              <div class="booking-card">
                <%= image_tag booking.record.cover, class: "booking-img" %>
                <div class="booking-info">
                  <h5><%= booking.record.title %></h5>
                  <p><%= "#{booking.pick_up_date.strftime("%d/%m/%Y")} - #{booking.return_date.strftime("%d/%m/%Y")}" %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="cards">
          <% @bookings_borrowing_past.each do |booking| %>
            <%= link_to booking_path(booking) do %>
              <div class="booking-card">
                <%= image_tag booking.record.cover, class: "booking-img" %>
                <div class="booking-info">
                  <h5><%= booking.record.title %></h5>
                  <p><%= "#{booking.pick_up_date.strftime("%d/%m/%Y")} - #{booking.return_date.strftime("%d/%m/%Y")}" %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <div class="cards">
          <% @bookings_loaning_current.each do |booking| %>
            <%= link_to booking_path(booking) do %>
              <div class="booking-card">
                <%= image_tag booking.record.cover, class: "booking-img" %>
                <div class="booking-info">
                  <h5><%= booking.record.title %></h5>
                  <p><%= "#{booking.pick_up_date.strftime("%d/%m/%Y")} - #{booking.return_date.strftime("%d/%m/%Y")}" %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <div class="cards">
          <% @bookings_loaning_past.each do |booking| %>
            <%= link_to booking_path(booking) do %>
              <div class="booking-card">
                <%= image_tag booking.record.cover, class: "booking-img" %>
                <div class="booking-info">
                  <h5><%= booking.record.title %></h5>
                  <p><%= "#{booking.pick_up_date.strftime("%d/%m/%Y")} - #{booking.return_date.strftime("%d/%m/%Y")}" %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>



</div>
