<h1>Create a Booking</h1>
<<<<<<< HEAD


     <div class="container py-5">
=======
     <div class="container py-5">
<div class="container py-5">
  <h1 class="text-center">Book a record!</h1>
>>>>>>> 1ffc604bb537e87dbcc287e80a2b374b9f30d6ff
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Confirm your booking </h3>
        <br>
          <%= simple_form_for [ @record, @booking ] do |f| %>
<<<<<<< HEAD
              <%= f.input :pick_up_date, as: :date, html5: true %>
              <%= f.input :return_date, as: :date, html5: true %>
              <br>
              <%# <%= link_to "Confirm Booking", bookings_show_path(@record), class: "btn btn-success"%>
              <%= f.button :submit, class: "btn btn-ghost" %>
            <% end %>
=======
              <%= f.date_field :pick_up_date, min: Date.today, max: Date.today + 1.week, as: :date, html5: true %>
              <br>
              <%= f.button :submit, class: "btn btn-ghost" %>

            <% end %>

>>>>>>> 1ffc604bb537e87dbcc287e80a2b374b9f30d6ff
      </div>
    </div>
  </div>
</div>
