
<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">Your Booking</h1>
    <p></p>
  </div>
  <div>
      <h1><%= @booking.record.title %></h1>
      <h3><%= link_to @booking.record.artist, records_path(query: @booking.record.artist), class: 'text-decoration-none' %></h3>
      <p><%= @booking.record.year %></p>
      <p><%= @booking.record.genre.capitalize %></p>

      <p>Renting from <%= @booking.user_id  %> for <i class="fas fa-pound-sign"></i><%= @booking.record.price%> per week</p>


      <p><%= @booking.pick_up_date.strftime("Pick up on %m/%d/%Y") %> <%=@booking.pick_up_date.strftime("at %I:%M%p")%></p>
      <p><%= @booking.return_date.strftime("Return on %m/%d/%Y") %> <%=@booking.return_date.strftime("at %I:%M%p")%> </p>

      <%= link_to "Back", :back, class: "btn btn-ghost"%>
      <%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-ghost"%>
    </div>
</div>
