
<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center p-3">Your Booking</h1>
    <p></p>

  </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-6 offset-lg-3">
          <div class="bg-white rounded p-3 shadow">
            <h1><%= link_to @booking.record.title, records_path(query: @booking.record.title), class: 'text-decoration-none' %></h1>
              <h3><%= link_to @booking.record.artist, records_path(query: @booking.record.artist), class: 'text-decoration-none' %></h3>
              <p><%= @booking.record.year %></p>
              <p><%= @booking.record.genre.capitalize %></p>

              <% if @booking.record.user.first_name %>
                <p>Renting from <%= @booking.record.user.first_name.capitalize %>
              <% else %>
                <p>Renting for <i class="fas fa-pound-sign"></i><%= @booking.record.price%> per week</p>
              <% end %>

              <p><%= @booking.pick_up_date.strftime("Pick up on %m/%d/%Y") %>
              <p><%= @booking.return_date.strftime("Return on %m/%d/%Y") %>
              <br>
              <br>

              <%= link_to "Back", :back, class: "btn btn-ghost"%>
              <%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-ghost"%>
              <%= link_to "Cancel", booking_path(@booking), class: "btn btn-ghost",
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
