<div class="container">
  <%# HEADING %>
  <div class="row">
    <h1 class="mb-4"><%= @user.first_name %>'s Record Collection (<%= @records.count %>) </h1>
  </div>

  <%# PAGE TABS %>
  <% if @user == current_user %>
  <div class="row tab-row-user">
    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active tab" aria-current="page" href="#">Library (<%= @records.count %>)</a>
    </li>
    <li class="nav-item">
      <%= link_to "Bookings", bookings_path, class: 'nav-link tab' %>
    </li>
    <li class="nav-item">
      <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: 'nav-link tab' %>
    </li>
  </ul>
  </div>

  <%# ADD RECORD BUTTON %>
  <div class="row add-btn">
    <%= link_to "Add a New Record to Your Library", new_record_path, class: 'btn btn-ghost col-4' %>
  </div>
  <% end %>

  <%# RECORD CARDS %>
  <div class="row">
    <div class="record-cards">
      <% @records.each do |record|%>
        <div class="record-card col-4 col-lg-3 m-3">
          <%= link_to image_tag(record.cover, alt: "#{record.title} cover art", width: 250), record_path(record)%>
          <div class="card-info">
            <h2><%= link_to record.title, record_path(record)%></h2>
            <div class="card-info-bottom">
              <p> <%= link_to record.artist, record_path(record), class: 'card-sub-text' %></p>
            </div>
            <div class="card-info-bottom">
              <p class="card-sub-text"><%=record.genre.capitalize%></p>
            </div>
            <div class="card-info-bottom">
              <p>
                <%if record.available == false%>
                  <span class="text-unavailable">Unavailable <i class="fas fa-record-vinyl"></i></span>
                <%else%>
                  <span class="text-available">Available <i class="fas fa-record-vinyl"></i></span>
                <%end%>
              </p>
              <% if @user == current_user %>
              <div class="card-actions">
                <%= link_to(edit_record_path(record)) do %>
                  <i class="fas fa-edit"></i>
                <%end%>
                <%= link_to(record_path(record), method: :delete, data: {confirm: "Delete #{record.title} from your library"}) do %>
                  <i class="fa-solid fa-trash-can"></i>
                <%end%>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
