<div class="container record-show-content">
  <div class="row">
    <div class="col-12 col-lg-5">
      <%= cl_image_tag @record.cover.key, alt: "Cover art for #{@record.title} by #{@record.artist}", class: "album-cover"%>
    </div>
    <div class="col-12 col-lg-7 record-info">
      <h1 class="record-title"><%= @record.title %></h1>
      <h3 class="record-artist"><%= link_to @record.artist, records_path(query: @record.artist), class: 'text-decoration-none' %></h2>
      <% if false %>
        <p class="year"><%= @record.year %></p>
        <p><%= link_to @record.genre.capitalize, records_path(query: @record.genre) %></p>
      <% end %>
      <div class="booking_info">
        <p><strong></strong>Owner: <%= link_to @record.user.first_name, user_path(@record.user) %> - <%= Geocoder::Calculations.distance_between(@record.user, current_user).round(2) %> miles away</p>

        <%if @record.user == current_user%>
          <%if @record.available%>
            <span class="text-available"><i class="fas fa-record-vinyl"></i><%= link_to "Mark As Unavailable", record_path(@record, query: "change"), method: :patch %></span>
          <%else%>
            <span class="text-unavailable"><i class="fas fa-record-vinyl"></i><%= link_to "Mark As Available", record_path(@record, query: "change"), method: :patch %></span>
          <%end%>

        <%else%>
          <p>Current Status:
          <%if @record.available%>
            <span class="text-available"><i class="fas fa-record-vinyl"></i>Available</span>
          <%else%>
            <span class="text-unavailable"><i class="fas fa-record-vinyl"></i>Unavailable</span>
          <%end%>
        <%end%>
        </p>
        <%if @record.user == current_user%>
          <div class="row justify-content-evenly show-btns">
            <%= link_to "Delete", record_path(@record), class: 'btn btn-destroy col-4', method: :delete, data: {confirm: "Delete #{@record.title} from your library"} %>
            <%= link_to "Edit", edit_record_path(@record), class: 'btn btn-edit col-4 me-5' %>
          </div>
        <%elsif @record.available == true%>
          <%= link_to "Book Now", new_record_booking_path(@record), class: "btn btn-turquoise btn-book"%>
        <%else%>
          <button type="button" class="btn btn-turquoise" disabled>Book Now</button>
        <%end%>
      </div>

      <div>
        <h3>About the Album</h3>
        <% if @record.about.present?%>
          <p class="about"><%= @record.about.html_safe %></p>
        <%else%>
          <p>No information.</p>
        <%end%>
      </div>

      <div>
        <h3>Track List</h3>
        <ol class="list-group list-group-numbered">
          <% @tracks.each do |track|  %>
            <li class="list-group-item"><%= track %></li>
          <%end%>
        </ol>
      </div>

    </div>
    <div class="record-page-map">
      <h2>Pick-up location</h2>
      <div style="width: 100%; height: 400px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

  </div>

</div>
