<div class="d-flex align-items-center record-main">
  <div class="flex-item">
    <%= cl_image_tag @record.cover.key, alt: "Cover art for #{@record.title} by #{@record.artist}", class: "album-cover"%>
  </div>
  <div class="record-main-info flex-item">
    <h1 class="record-title"><%= @record.title %></h1>
    <h2 class="record-artist"><%= link_to @record.artist, records_path(query: @record.artist), class: 'text-decoration-none' %></h2>
    <p class="year"><%= @record.year %></p>
    <p><%= @record.genre.capitalize %></p>
    <p>Owner: <%= @record.user.first_name %></p>
    <p>Current Status:
    <%if @record.available%>
      <span class="text-success"><i class="fas fa-record-vinyl"></i>Available</span>
    <%else%>
      <span class="text-danger"><i class="fas fa-record-vinyl"></i>Unavailable</span>
    <%end%>
    </p>
    <p><i class="fas fa-pound-sign"></i><%=@record.price%> per week</p>
    <%= link_to "Book Now", new_record_booking_path(@record), class: "btn btn-success"%>
    <%= link_to "Back", :back, class: "btn btn-secondary back-btn"%>
  </div>
  <div class="flex-item">
  </div>
</div>
